@page
@model MatchSystem.Pages.Seat.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seat.SeatNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat.SeatNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seat.SeatSide)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat.SeatSide)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Seat.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
